<% if logged_in? %>
 <% provide(:title, 'Room_out') %>
<h1>入室前のルーム一覧・作成ページ</h1>
<% else %>
  <div class="center jumbotron">
   <!-- "center"と"jumbotron"のクラスを持つdiv要素。"jumbotron"はBootstrapのクラスで、大きなボックスでセクションを強調表示する -->
    <h1> <!-- h1タグは通常、ページの主題または重要なタイトルを表す -->
      つなリズムへようこそ！
      <!-- 実際のウェブページのタイトルまたはウェルカムメッセージ -->
    </h1>
    <h2> <!-- h2タグは、h1よりも少し小さい見出しで、関連するサブヘディングや情報を示す -->
      このホームページのリンクは
      <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a> 
      <!-- "a"タグでRuby on Railsチュートリアルのウェブサイトへのハイパーリンクを作成 -->
      で作成されています。
    </h2>
    <%= link_to "新規登録", signup_path, class: "btn btn-lg btn-primary" %> 
    <!-- ERB構文でRubyのlink_toヘルパーメソッドを使用。"Sign up now!"のテキストでボタンを作り、
    そのクラスには"btn", "btn-lg", "btn-primary"を指定している（Bootstrapのクラス） -->
    <%= link_to "ログイン", login_path, class: "btn btn-lg btn-primary" %> 
    <%= link_to "お試しログイン", login_path, class: "btn btn-lg btn-primary" %> 
    <%= link_to "Googleアカウントで登録", login_path, class: "btn btn-lg btn-primary" %> 

</div>

<%= link_to image_tag("rails.svg", alt: "Rails logo", width: "200"),
     "https://rubyonrails.org/" %> 
     <!-- ERB構文を使用し、link_toヘルパーとimage_tagヘルパーを組み合わせて画像リンクを作成。
     "rails.svg"という画像ファイルにリンクし、その代替テキストには"Rails logo"と指定し、
     幅を"200"ピクセルに設定。この画像はクリックするとRuby on Railsの公式ウェブサイトに
     リダイレクトされる -->
<% end %>


