<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "お問い合わせ",   about_path %></li>
      <li><%= link_to "よくある質問", contact_path %></li>
      <li><%= link_to "障害・メンテナンス情報", contact_path %></li>
      <li><%= link_to "会社情報", contact_path %></li>
      <li><%= link_to "採用状況", contact_path %></li>
      <li><%= link_to "ホームページ作成依頼", contact_path %></li>
      <li><%= link_to "Instagram", contact_path %></li>
      <li><%= link_to "Facebook", contact_path %></li>
      <li><%= link_to "X", contact_path %></li>
      <li><%= link_to "LINE＠", contact_path %></li>
    </ul>
  </nav>
</footer>
